
    
            <form name ="loginForm" action = "" method = "POST">

                
                <td class = "col-lg-12"><label>Email: </label></td>
                <td class = "col-lg-12"><input type="text" name="email" [(ngModel)]="email" placeholder="Enter email here"></td>
                <td  class = "col-lg-12"><label>Password: </label></td>
                <td class = "col-lg-12"><input type="text" name="password" [(ngModel)]="password" placeholder="Enter password here"></td>
                <button  class = "btn-sm-1 col-lg-1" type="submit" value="Submit" (click) = "authenticateUser()"> Submit </button>

                
            </form>
           
        



